@import './libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

@import './base/variables';
@import './base/mixins';

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}


html {
  height: 100%;
}

* {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-index {
  flex-grow: 1;
}


.container {
  width: 1200px;
  margin: 0 auto;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li:last-child {
  margin-bottom: 0;
}

@import './blocks/title';
@import './blocks/header';
@import './blocks/promo';
@import './blocks/advantages';
@import './blocks/offer';
@import './blocks/search';
@import './blocks/subscribe';
@import './blocks/footer';
@import './blocks/catalog';
