.catalog {
  display: grid;
  position: relative;
  min-height: 1647px;
  z-index: 1;

  &__wrapper {
    display: grid;
    min-height: 412px;
    background-color: #54606c;
    background: url('../img/background/bg_filter.jpg') no-repeat 100% / cover;
    justify-content: center;
    padding: 35px 70px 70px 70px;

    &-header {
      width: 1060px;
      height: 107px;

      &-title {
        color: rgb(255, 255, 255);
        font-size: 60px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
      }

      &-breadcrumbs {
        display: flex;
        width: 114px;
        height: 21px;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;

        :last-child {
          color: rgb(255, 255, 255);
          font-family: PT Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0%;
          text-align: left;

          &:hover {
            opacity: 0.6;
          }

          &:active {
            opacity: 0.3;
          }
        }
      }
    }


    &-form {
      display: grid;
      width: 1060px;
      grid-template-columns: 151px 151px 288px 191px;
      column-gap: 70px;
      justify-content: space-between;

      &-group {
        display: grid;
        width: 288px;
        justify-content: space-between;

        &-title {
          color: rgb(255, 255, 255);
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 0;
        }

        &-list {
          list-style-type: none;
          margin-top: 32px;

          &-item {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 16px;
          }
        }

        &-price {
          display: flex;
          width: 286px;
        }

      }
    }

    &-right {
      display: grid;
      width: 549px;
      min-height: 160px;
      grid-template-columns: 288px 261px;
      grid-template-rows: 68px 48px 56px;
      column-gap: 70px;

      &-button {
        display: grid;
        width: 191px;
        height: 36px;
        align-self: center;
        border-radius: 4px;
        background: $main-color;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        align-content: center;
        padding: 8px 50px 8px 50px;
        border: none;
        grid-column: 2 / 2;
        grid-row: 2 / 2;

        &:hover {
          background-color: #68a2ca;
          color: rgba(255, 255, 255, 0.6);
        }

        &:focus {
          background-color: #68a2ca;
          border: none;
          outline: none;
        }

        &:active {
          background-color: $main-color;
          outline: none;
          color: rgba(255, 255, 255, 0.3);
        }

        &:disabled {
          background-color: #e5e5e5;
          color: rgba(255, 255, 255, 0.1);
        }
      }

    }

  }

  &__sort {
    display: flex;
    width: 1060px;
    height: 49px;
    justify-content: space-between;
    margin: 50px 70px 0 70px;

    &-title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-wrapper {
      display: flex;
      min-width: 522px;
      min-height: 49px;
      justify-content: center;

      :hover {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
      }

      :active {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
      }

      :focus {

        border: 2px solid rgb(104, 162, 202);
        border-radius: 4px;
      }

      :last-child {
        margin-right: 0;
      }

      &-button {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(229, 229, 229);
        border-radius: 4px;
        margin-right: 8px;

        :hover {
          border: none;
          border-radius: 0;
        }

        :active {
          border: none;
          border-radius: 0;
        }

        :focus {
          border: #68a2ca;
          border-radius: 0;
        }

      }
    }
  }

  &__container {
    display: grid;
    min-height: 985px;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 70px 0px 70px;
    gap: 20px;


    &-card {
      display: grid;
      padding: 20px;
      width: 340px;
      min-height: 438px;
      justify-content: center;
      grid-template-columns: repeat(2, 140px);
      grid-template-rows: min-content;
      column-gap: 20px;
      border: 1px solid rgb(230, 230, 230);
      border-radius: 4px;

      &-link {
        display: grid;
      }

      &-title {
        display: flex;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        margin-top: 16px;
        grid-column: 1 / 2;
        margin-bottom: 0;
        word-break: break-all;
      }

      &-descr {
        font-size: 18px;
        font-weight: 400;
        grid-column: 1 / 1;
        margin-top: 16px;
      }

      &-price {
        font-size: 18px;
        font-weight: 400;
        text-align: right;
        grid-column: 2 / 2;
        margin-bottom: 0;
        margin-top: 16px;
      }

      &-button {
        text-align: center;
        min-width: 140px;
        min-height: 36px;
        background-color: $main-color;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 16px;
        border-radius: 4px;
        align-content: center;
        word-wrap: break-word;

        &:hover {
          background-color: #68a2ca;
          color: rgba(255, 255, 255, 0.6);
        }

        &:focus {
          background-color: #68a2ca;
        }

        &:active {
          background-color: $main-color;
          outline: none;
          color: rgba(255, 255, 255, 0.3);
        }

        &:disabled {
          background-color: #e5e5e5;
          color: rgba(255, 255, 255, 0.1);
        }
      }

      &-rating {
        display: flex;
        width: 140px;
        height: 37px;
        background: rgb(242, 242, 242);
        margin-top: 16px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;


        &-text {
          display: flex;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 0;

        }
      }

    }

    &-stars {
      position: relative;
      display: flex;
      justify-content: flex-start;

    }
  }
}

.nocolor {
  background: none;
  border: none;

  &:hover {
    background: none;
  }

  &:focus {
    background: none;
  }

  &:active {
    background: none;
  }

  &:disabled {
    background: none;
  }
}

.selected {
  background-color: #7db54f;

  &:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: #6c9e42;
  }

  &:focus {
    background-color: #6c9e42;
  }

  &:active {
    background-color: #7db54f;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: rgba(255, 255, 255, 0.1);
  }
}


.price1 {
  width: 143px;
  height: 48px;
  border-radius: 4px 0px 0px 4px;
  background: rgb(242, 242, 242);
  padding: 12px 20px 12px 20px;
  font-size: 18px;
  font-weight: 700;
  border: none;

  &:focus {
    border: 3px solid #83b3d3;
  }

  &:active {
    border: none;
    outline: none;
  }
}

.price2 {
  width: 143px;
  height: 48px;
  border-radius: 0px 4px 4px 0px;
  background: rgb(242, 242, 242);
  padding: 12px 20px 12px 20px;
  font-size: 18px;
  font-weight: 700;
  border: none;

  &:focus {
    border: 3px solid #83b3d3;
  }
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

.control-input {
  background-color: #fff;
  width: 20px;
  height: 20px;
}

label {
  margin-bottom: 0;
}

.nobackground {
  background: none;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  width: 292px;
  height: 49px;
  padding: 10px 20px 10px 20px;
  margin-right: auto;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;

  &:hover {
    border: 2px solid #68a2ca;
  }

  &:focus {
    border: 2px solid #68a2ca;
  }

  &:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
  }
}

.brown {
  background-color: $second-color;

  &:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: #615048;
  }

  &:focus {
    background-color: #615048;
  }

  &:active {
    background-color: $second-color;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: rgba(255, 255, 255, 0.1);
  }
}

.pagination {
  display: flex;
  width: 1060px;
  height: 60px;
  column-gap: 8px;
  margin-top: 40px;

  &-link {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: $main-color;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &:hover {
      background: #68a2ca;
      color: #fff;
    }

    &:focus {
      background: #68a2ca;
      color: #fff;
    }

    &:active {
      background: #82b3d3;
      color: rgba(255, 255, 255, 0.3);
    }

    &_current {
      display: flex;
      width: 60px;
      height: 60px;
      background-color: #F2F2F2;
      color: #000;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      &:hover {
        background: #f2f2f2;
        color: #000;
      }

      &:focus {
        background: #f2f2f2;
        color: #000;
      }

      &:active {
        background: #f2f2f2;
        color: #000;
      }
    }

    &_expand {
      display: flex;
      width: 60px;
      height: 60px;
      background-color: none;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      color: rgb(0, 0, 0);
      font-size: 22px;
      font-weight: 400;
    }
  }
}

.divider {
  margin-top: 41px;
  border: 1px solid rgb(230, 230, 230);
}

.square1::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 17px;
  margin-top: 26px;
  background-image: url('../icons/star.svg');
}

.square2::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 17px;
  margin-top: 26px;
  right: 100px;
  background-image: url('../icons/star.svg');
}

.square3::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 17px;
  margin-top: 26px;
  right: 80px;
  background-image: url('../icons/star.svg');
}

.square4::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 17px;
  margin-top: 26px;
  right: 60px;
  background-image: url('../icons/star.svg');
}

.square5::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 17px;
  margin-top: 26px;
  right: 40px;
  background-image: url('../icons/star.svg');
}

.wrapper {
  display: grid;
  width: 288px;
  height: 160px;
  grid-template-columns: repeat(2, 143px);
  grid-template-rows: 75px 48px 56px;
  column-gap: 2px;

  &__title {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
  }

}

.control1 {
  grid-column: 1 / 1;
}

.range {
  grid-column: 1 / 2;
  width: 300px;
  margin-top: 43px;
}

.nocolor {
  grid-row: 3 / 3;
  margin-top: 32px;
}

.home::before {
  display: flex;
  content: "";
  width: 12px;
  height: 12px;
  background-image: url("../icons/home_link.svg");
}

.arrow::before {
  display: block;
  content: "";
  width: 7px;
  height: 10px;
  background-image: url("../icons/arrow.svg");
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;

  &-mark {
    position: absolute;
    top: 4px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: rgb(255, 255, 255);
  }
}

.control-mark {
  &:hover {
    opacity: 0.6;
  }
}

.control-mark {
  &:focus {
    border: 3px solid #83b3d3;
  }
}

.control-mark {
  &:active {
    opacity: 0.3;
  }
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  position: absolute;
  top: 9px;
  left: 6px;
  width: 12px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  position: absolute;
  top: 12px;
  left: 3px;
  width: 7px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked+.control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  transform: rotate(307deg);
}

// радиокнопки
.control-input[type="radio"]+.control-mark {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  background: #3F5E72;
  border-radius: 100%;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #fff;
}


.range-bar {
  position: absolute;
  height: 4px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}


.toggle-min {
  top: -8px;
  left: -42px;
}

.toggle-max {
  top: -8px;
  right: -60px;
}

.range-wrapper-inputs {
  display: none;
}
