.catalog {
  display: grid;
  min-height: 1647px;

  &__wrapper {
    display: grid;
    min-height: 412px;
    background-color: #000;
    background: url('../img/background/bg_filter.jpg') no-repeat 100% / cover;
    justify-content: center;
    padding: 35px 70px 70px 70px;

    &-header {
      width: 1060px;
      height: 107px;

      &-title {
        color: rgb(255, 255, 255);
        font-size: 60px;
        font-weight: 700;
        line-height: 78px;
        text-align: left;
      }

      &-breadcrumbs {
        display: flex;
        width: 114px;
        height: 21px;
        list-style-type: none;

        :last-child {
          color: rgb(255, 255, 255);
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
        }

        :nth-child(2)::before {
          content: "";
          width: 12px;
          height: 12px;
          display: block;
          background-image: url("../../icons/arrow.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &-form {
      display: grid;
      width: 1060px;
      grid-template-columns: 151px 151px 288px 191px;
      column-gap: 70px;
      justify-content: space-between;

      &-group {
        display: grid;
        width: 288px;
        justify-content: space-between;

        &-title {
          color: rgb(255, 255, 255);
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
        }

        &-list {
          list-style-type: none;
          margin-top: 32px;

          &-item {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 16px;
          }
        }

        &-button {
          display: grid;
          width: 191px;
          height: 36px;
          align-self: center;
          border-radius: 4px;
          background: $main-color;
          color: rgb(255, 255, 255);
          font-size: 16px;
          font-weight: 700;
          text-align: center;
          text-transform: uppercase;
          align-content: center;
          padding: 8px 50px 8px 50px;
          border: none;
        }

        &-range {
          width: 287px;
          height: 20px;
          border: rgb(255, 255, 255);

        }

        &-price {
          display: flex;
          width: 286px;
        }

      }
    }

  }

  &__sort {
    display: flex;
    width: 1060px;
    height: 49px;
    justify-content: space-between;
    margin: 50px 70px 0 70px;

    &-title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-wrapper {
      display: flex;
      min-width: 522px;
      min-height: 49px;
      justify-content: center;

      :hover {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
      }

      :active {
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
      }

      :focus {

        border: 2px solid rgb(104, 162, 202);
        border-radius: 4px;
      }

      :last-child {
        margin-right: 0;
      }

      &-button {
        display: flex;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(229, 229, 229);
        border-radius: 4px;
        margin-right: 8px;

        :hover {
          border: none;
          border-radius: 0;
        }

        :active {
          border: none;
          border-radius: 0;
        }

        :focus {
          border: none;
          border-radius: 0;
        }

      }
    }
  }

  &__container {
    display: grid;
    min-height: 985px;
    margin-top: 40px;
    grid-template-columns: repeat(3, 340px);
    padding: 0 70px 0px 70px;
    gap: 20px;


    &-card {
      display: grid;
      padding: 20px;
      width: 340px;
      min-height: 438px;
      justify-content: center;
      grid-template-columns: repeat(2, 140px);
      grid-template-rows: min-content;
      column-gap: 20px;
      border: 1px solid rgb(230, 230, 230);
      border-radius: 4px;

      &-link {
        display: grid;
      }

      &-title {
        display: flex;
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 700;
        margin-top: 16px;
        grid-column: 1 / 2;
        margin-bottom: 0;
        word-break: break-all;
      }

      &-descr {
        font-size: 18px;
        font-weight: 400;
        grid-column: 1 / 1;
        margin-top: 16px;
      }

      &-price {
        font-size: 18px;
        font-weight: 400;
        text-align: right;
        grid-column: 2 / 2;
        margin-bottom: 0;
        margin-top: 16px;
      }

      &-button {
        text-align: center;
        min-width: 140px;
        min-height: 36px;
        background-color: $main-color;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 16px;
        border-radius: 4px;
        align-content: center;
      }

      &-rating {
        display: flex;
        width: 140px;
        height: 37px;
        background: rgb(242, 242, 242);
        margin-top: 16px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;


        &-text {
          display: flex;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          margin-bottom: 0;

        }
      }

    }
  }
}

.nocolor {
  background: none;
  border: none;
}

.price1 {
  width: 143px;
  height: 48px;
  border-radius: 4px 0px 0px 4px;
  background: rgb(242, 242, 242);
  padding: 12px 20px 12px 20px;
  font-size: 18px;
  font-weight: 700;
}

.price2 {
  width: 143px;
  height: 48px;
  border-radius: 0px 4px 4px 0px;
  background: rgb(242, 242, 242);
  padding: 12px 20px 12px 20px;
  font-size: 18px;
  font-weight: 700;
}



.control-input {
  background-color: #fff;
  width: 20px;
  height: 20px;
}

label {
  margin-bottom: 0;
}

.nobackground {
  background: none;
}

.select-control {
  font-size: 18px;
  font-weight: 400;
  width: 292px;
  height: 49px;
  padding: 10px 20px 10px 20px;
  margin-right: auto;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 4px;

}

.brown {
  background-color: $second-color;
}

.pagination {
  display: flex;
  width: 1060px;
  height: 60px;
  column-gap: 8px;
  margin-top: 40px;

  &-link {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: $main-color;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
}

.divider {
  margin-top: 41px;
  border: 1px solid rgb(230, 230, 230);
}
