.social {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  min-height: 120px;
  padding: 0 70px 0 70px;

  &__wrapper {
    display: flex;
    width: 1060px;
    justify-content: space-between;
    align-self: center;
    align-items: center;

    &-list {
      display: flex;
      min-width: 120px;
      justify-content: space-evenly;
      list-style-type: none;
    }

    &-phone {
      color: rgb(0, 0, 0);
      font-size: 40px;
      font-weight: 400;
      line-height: 40px;
    }
  }
}
