.navigation {
  position: relative;
  display: flex;
  margin-right: 70px;
  margin-left: 70px;
  height: 64px;
  background: rgb(255, 255, 255);
  justify-content: space-between;

  &__line {
    border: 2px solid rgb(117, 98, 87);
    width: 68px;
    height: 0;
    visibility: hidden;
  }


  &__list {
    display: flex;
    width: 507px;
    list-style-type: none;

    &-wrapper {
      display: flex;
      width: 339px;
      justify-content: space-evenly;
    }


    &-item {
      align-self: center;

    }

    &-link {
      color: rgb(0, 0, 0);
      font-family: PT Sans;
      font-size: 20px;
      font-weight: 700;
    }
  }

  &__user {
    display: flex;
    position: relative;
    width: 268px;
    line-height: 1.3;

    :nth-child(3) {
      align-self: center;
    }


    list-style-type: none;
    color: rgb(0, 0, 0);

    &-link {
      color: #fff;
      font-family: PT Sans;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    &-item {
      align-self: flex-start;

      &-wrapper {
        width: 160px;
        height: 36px;
        border-radius: 4px;
        background: rgb(117, 97, 87);
        text-align: center;
        align-content: center;
      }
    }
  }
}

ul {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
  color: #000;
}

// .loupe::before {
//   content: "поиск";
//   width: 18px;
//   height: 18px;
//   display: block;
//   background-image: url("../../icons/search.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }
