.navigation {
  position: relative;
  display: flex;
  margin-right: 70px;
  margin-left: 70px;
  height: 64px;
  background: rgb(255, 255, 255);

  &__container {
    display: flex;

    &-logo {
      position: relative;

      &-img {
        position: relative;
        margin-right: 12px;
        z-index: 2;
      }
    }

    &-list {
      display: flex;
      list-style-type: none;
      width: 339px;


      &-item {
        display: flex;
        margin: 0 auto;
        align-self: center;

      }

      &-link {
        display: block;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 700;
        min-width: 100px;
        min-height: 64px;
        padding: 20px 16px 20px 16px;
      }
    }
  }

  &__wrapper {
    display: flex;
    margin: auto;

    &-btn {
      width: 160px;
      height: 36px;
      border-radius: 4px;
      background: rgb(117, 97, 87);
      text-align: center;
      align-content: center;
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      align-self: center;

    }
  }

  &__user {
    display: flex;
    position: relative;
    min-width: 88px;
    list-style-type: none;
    color: rgb(0, 0, 0);
    margin-left: 285px;

    :nth-child(3) {
      align-self: center;
    }

    &-item {
      display: flex;
      align-self: center;

      &-link {
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        width: 44px;
        height: 63px;
        padding: 17px 12px 17px 12px;
      }
    }

  }


}

ul {
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
  color: #000;
}

// .loupe::before {
//   content: "поиск";
//   width: 18px;
//   height: 18px;
//   display: block;
//   background-image: url("../../icons/search.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }
