.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  background: #fff;

  &-content {
    width: 577px;
    height: 448px;
  }

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(242, 242, 242, 0.8);
  }

  &-search {
    width: 717px;
    min-height: 576px;
    border-radius: 30px;
  }
}

.search-form {
  margin-top: 64px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 51px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 100%;
  border: none;
  cursor: pointer;

  &:before {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
    right: 18px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
    right: 18px;
  }
}


.modal-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  text-transform: uppercase;
}

.user-option {
  display: grid;
  grid-template-columns: 289px 288px;
  grid-template-rows: auto;
}


.user-option .field {
  border-radius: 4px;
  width: 110px;
  min-height: 48px;
  margin-bottom: 0;
}

.search-form-button {
  border-radius: 10px;
  padding: 18px 77px;
  width: 577px;
  height: 60px;
  border: none;
  background-color: $main-color;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
}

.field-group {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
}

.person-form-field {
  border-radius: 4px;
  width: 110px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
}

.check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;

  &-form {
    &-field {
      width: 440px;
      height: 48px;
    }
  }
}

.person1 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.person2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 48px;
}

.adult {
  margin-left: 46px;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  text-align: center;
}

.child {
  margin-left: 82px;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  text-align: center;
}

.check-in {
  font-weight: 700;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.check-out {
  font-weight: 700;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(../icons/date.svg) no-repeat center;
  background-size: contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.plus-adult {
  position: absolute;
  right: 59px;
  top: 9px;
  border: none;
}

.minus-adult {
  position: absolute;
  right: 117px;
  top: 10px;
  border: none;
}

.plus-child {
  position: absolute;
  right: 15px;
  top: 9px;
  border: none;
}

.minus-child {
  position: absolute;
  right: 76px;
  top: 10px;
  border: none;
}

.text-valid-error {
  line-height: 131%;
  color: #ff5757;
  margin-left: 157px;
  margin-bottom: 23px;
}

.text-valid-available {
  line-height: 131%;
  color: #333;
  margin-bottom: 23px;
  margin-left: 157px;
}

.modal-close {
  display: none;
}
