.promo {
  display: flex;
  position: relative;
  background-color: #000;
  background: url('../../img/background/sedona_bg.jpg') no-repeat 50% / auto;


  &__img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 82px;
  }
}
