.promo {
  display: flex;
  position: relative;
  min-height: 485px;
  background-color: #798895;
  background: url('../img/background/sedona_bg.jpg') no-repeat 50% / auto;
  padding: 51px 82px;


  &__img {
    display: flex;
    margin: 0 auto;
  }
}

// .substrate::after {
//   content: "ПОДЛОЖКА";
//   width: 1200px;
//   height: 57px;
//   display: block;
//   background-image: url("../../img/background/sedona_bg_vector.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }
